.first-screen {
    position: relative;
    min-height: 1010px;
    background: url('../images/main-bg.png') no-repeat center / cover,
        url('../images/main-bg-center.png') no-repeat center top;
    @media (min-width: 1281px) {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #42FFDD;
            box-shadow: 0px 0px 4px #00C2FF;
        }
    }
}

.accelerator {
    padding-top: 16px;

    &__mobile {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: #51BAD3;
        margin-bottom: 90px;
    }

    &__menu {
        max-width: 300px;
        margin: 0 auto;

        li {
            margin-bottom: 10px;
        }
    }

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
    }

    &__logo {
        display: inline-block;
        position: absolute;
        top: 231px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__bottom-btn {
        background: url('../images/submit-btn.svg') center no-repeat;
        text-transform: none;
        width: 241px;
        height: 57px;
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
        margin: 0 auto;
        box-shadow: 0px 0px 8px #01E1FF inset;
        &::before {
            box-shadow: 0px 0px 8px #01E1FF;
        }
    }

    &__left {

        .accelerator__item {
            &:first-child {
                left: 235px;
            }

            &:nth-child(2) {
                top: 180px;
                left: 20px;
            }

            &:nth-child(3) {
                top: 320px;
                left: 120px;
            }

            &:nth-child(4) {
                top: 450px;
                left: 0px;
            }

            &:last-child {
                top: 580px;
                max-width: 412px;
            }
        }
    }

    &__right {

        .accelerator__item {
            flex-direction: row-reverse;

            span {
                display: inline-block;
                margin-left: 15px;
                margin-right: 0;
            }

            &:first-child {
                right: 235px;
            }

            &:nth-child(2) {
                top: 180px;
                right: 50px;
            }

            &:nth-child(3) {
                top: 320px;
                right: -20px;
            }

            &:nth-child(4) {
                top: 450px;
                right: -40px;
            }

            &:last-child {
                top: 580px;
                right: 40px;
            }
        }

    }

    &__item {
        position: absolute;
        top: 60px;
        display: flex;
        align-items: center;
        font-size: 24px;
        line-height: 33px;
        color: $blue;
        max-width: 375px;
        transition: .3s ease;

        svg {
            flex-shrink: 0;
        }

        svg,
        svg g path {
            transition: .3s ease;
        }

        &:hover {
            svg {
                filter: drop-shadow(0px 0px 16px #FFFFFF);
            }

            svg>g path {
                fill: #25E0E0;
            }

            span {
                text-shadow: 0px 0px 16px #25E0E0;
            }
        }

        span {
            display: inline-block;
            transition: .3s ease;
            margin-right: 15px;
        }
    }
}