.footer {
    background-color: #101A3D;
    padding-top: 28px;
    padding-bottom: 50px;

    &__inner {
        display: flex;
        align-items: center;
    }

    &__logo {
        width: 238px;
        margin-right: 60px;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-right: 70px;
    }

    &__list {
        font-size: 26px;
        line-height: 36px;
        color: #FFFFFF;
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: -15px;
        li {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
}
