.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        margin-left: 76px;
    }
    &__title {
        margin-right: 76px;
        font-weight: normal;
        font-size: 34px;
        line-height: 47px;
        color: $blue-dark;
    }
    &__btn {
        display: none;
    }
}