/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
  }
  
  .modal__container {
    position: relative;
    background-color: #0A2046;
    color: #ffffff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 19px rgba(0, 255, 240, 0.25);
    border-radius: 11px;

    @media (max-width: 1024px) {
      padding: 15px;
    }
  }

  .modal-connect__list {
    overflow: auto;
  }
  
  .modal__close {
    position: absolute;
    right: 7px;
    top: 6px;
    width: 20px;
    height: 20px;
    background: url('../images/close-icon-2.svg') center no-repeat;
    border: 0;
    cursor: pointer;
    
  }
  

  .modal__content {
    font-size: 20px;
    line-height: 28px;
  }
  
  .modal__img {
    margin-bottom: 12px;
  }
  
  .modal__title {
    font-size: 34px;
    line-height: 47px;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25);
  }

  .modal-warning {
    .modal__img {
      margin-bottom: 0;
    }
  }
  
  .modal-warning,
  .modal-success {
    .modal__container {
      max-width: 445px;
      width: 100%;
      min-height: 270px;
      padding-top: 43px;
      padding-left: 45px;
      padding-right: 45px;

      @media (max-width: 1024px) {
        padding: 15px;
      }
    }
    .modal__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  
  .modal-connect {
    .modal__container {
      padding: 30px 18px;
      max-width: 370px;
      width: 100%;
    }
    &__title {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 33px;
    }
    &__item a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px; 
      padding: 6px 15px 6px 6px;
      transition: .3s ease;

      &:hover {
        background: rgba(66, 89, 150, 0.47);
        border-radius: 8px;
      }

      span {
        font-size: 18px;
        line-height: 25px;
      }

      img {
        flex-shrink: 0;
      }
    }
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }

  #modal-voting {
    .voting__info {
      padding-left: 0;
    }
    .voting__item {
      padding-top: 28px;
      padding-bottom: 34px;
      margin-bottom: 40px;

      &::after {
        background-color: #A8A8A8;
      }
    }
    .voting__progress {
      margin-bottom: 40px;
    }
    
  }

  .modal-voting {
    &__votes {
      font-family: Roboto;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #949191;
      margin-bottom: 35px;
    }
    &__stats {
      margin-bottom: 60px;
      padding-bottom: 50px;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        background-color: #A8A8A8;
        left: 0;
        bottom: 0;
      }
    }
    &__stat {
      display: flex;
      justify-content: space-between;
      font-family: Roboto;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
      
      &:last-child {
        margin-bottom: 0;
      }
    }

    .modal__container {
      width: 100%;
      max-width: 500px;
    }

    &__stat-key {
      position: relative;
      padding-left: 34px;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 17px;
        height: 16px;
        background-color: #00A424;
        border-radius: 50%;
      }
    }

    &__stat--no {
      .modal-voting__stat-key {
        &::before {
          background-color: #FF0000;
        }
      }
    }
    
    &__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__btn {
      max-width: 160px;
      width: 100%;
      font-family: Roboto;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
      padding: 8px 20px;
      border: none;
      cursor: pointer;
      background-color: #00A424;
    }
    &__btn--no {
      background-color: #FF0000;
      margin-left: 10px;
    }

    .voting__progress {
      width: 100%;
    }
    .voting__progress-current {
      width: 0;
    }
  }
  .modal-about {
    @media (max-width: 768px) {
      .modal__container {
        padding-top: 80px;
      }
      .modal__close {
        top: 60px;
      }
    }
    
  }
  
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }
