.partners {
    padding-bottom: 86px;

    &__title {
        text-align: center;
        font-size: 34px;
        line-height: 47px;
        color: #FFFFFF;
        margin-bottom: 60px;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-left: -70px;
        margin-right: -70px;
    }

    &__item {
        display: block;
        margin-bottom: 86px;
        margin-left: 70px;
        margin-right: 70px;
        width: calc(33.333% - 140px);
        img {
            margin: 0 auto;
        }
    }

    &__slider-wrapper {
        display: none;
    }
}