.team {
    position: relative;
    padding: 80px 0;
    padding-top: 10px;
    padding-bottom: 20px;
    background: url('../images/team-bg.png') no-repeat center;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #42FFDD;
        box-shadow: 0px 0px 4px #00C2FF;
    }

    &__title {
        font-size: 34px;
        line-height: 47px;
        color: $blue;
        text-shadow: 0px 0px 4px $blue;
        margin-bottom: 65px;
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -23px;
    }

    &__slider-wrapper {
        display: none;
    }

    &__slider-item {
        max-width: 160px;
    }

    &__slider {
        .team__item {
            margin-left: 0;
            margin-right: 0;
            max-width: 160px;
            height: 235px;
        }
    }
    
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 23px;
        margin-right: 23px;
        margin-bottom: 60px;
        max-width: calc(20% - 46px);
    }

    &__img {
        position: relative;
        display: inline-block;
        border: 1px solid #0094FF;
        margin-bottom: 5px;
        border-radius: 50%;
        box-shadow:(0px 0px 3px #0094FF);

        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            box-shadow:(0px 0px 3px #0094FF) inset;
        }

        img {
            object-fit: cover;
            border-radius: 50%;
            padding: 8px;
            max-width: 133px;
        }
    }

    &__name {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 14px;
        text-align: center;
    }

    &__position {
        font-size: 12px;
        line-height: 17px;
    }
}
