.tokenomics {
    position: relative;
    padding-top: 45px;
    padding-bottom: 250px;
    overflow: hidden;
    @media (min-width: 1281px) {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: #42FFDD;
            box-shadow: 0px 0px 4px #00C2FF;
        }
    }

    &__title {
        text-align: center;
        font-size: 34px;
        line-height: 47px;
        color: #3D9BFE;
        text-shadow: 0px 0px 4px #3D9BFE;
        margin-bottom: 60px;
    }

    &__inner {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-left: -25px;
        margin-right: -25px;
        position: relative;
    }

    .tokenomics__inner > .tokenomics__item {
        &:nth-child(1) {
            margin-left: -9px;
        }
        &:nth-child(2) {
            .tokenomics__img {
                margin-top: -10px;
            }
            span {
                top: 46%;
            }
            
        }
        &:nth-child(3) {
            .tokenomics__img {
                margin-top: -10px;
            }
            span {
                top: 46%;
            }
        }
        &:nth-child(4) {
            max-width: 27%;
            .tokenomics__name, p {
                max-width: 150px;
            }
            .tokenomics__img {
                margin-top: -30px;
                margin-right: -23px;
                margin-left: -20px;
            }
        }
        &:nth-child(5) {
            margin-left: -15px;
            .tokenomics__img {
                margin-top: -20px;
                margin-right: 0;
            }
            span {
                left: 54%;
            }
        }
        &:nth-child(6) {
            margin-left: 16px;
            .tokenomics__img {
                margin-top: -20px;
                margin-right: -2px;
            }
            span {
                left: 54%;
            }
        }
        &:nth-child(7) {
            .tokenomics__img {
                margin-top: -20px;
            }
            span {
                top: 56%;
                left: 52%;
            }
        }
        &:nth-child(8) {
            max-width: calc(27% - 18px);
            margin-left: 11px;
            .tokenomics__img {
                margin-top: -20px;
                margin-right: -18px;
            }
            span {
                left: 48%;
            }
        }
    }
    
    &__item {
        display: flex;
        align-items: flex-start;
        max-width: calc(24% - 18px);
        width: 100%;
        margin-left: 9px;
        margin-right: 9px;
        margin-bottom: 43px;
    }

    .btn {
        box-shadow: 0px 0px 8px $blue inset;
        text-shadow: 0px 0px 4px #FFFFFF;
        &::before {
            box-shadow: 0px 0px 8px $blue;
        }
    }

    .btn--orange {
        box-shadow: 0px 0px 8px $orange inset;
        text-shadow: 0px 0px 4px #FF6B00;
        &::before {
            box-shadow: 0px 0px 8px $orange;
        }
    }

    &__img {
        position: relative;
        flex-shrink: 0;
        margin-right: -10px;
        margin-top: -15px;

        span {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 18px;
            line-height: 25px;
        }
    }

    &__info {
        p {
            font-size: 12px;
            line-height: 17px;
            color: #FFFCFC;
        }

    }

    &__name {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 7px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        .tokenomics__item {
            max-width: 310px;

            &:nth-child(1) {
                .tokenomics__img {
                    margin-top: -17px;
                }
            }
        }
    }

    &__left {
        width: 50%;
    }

    &__left-items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: -14px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__right {
        position: absolute;
        bottom: -130px;
        right: 50px;
    }

    &__diagram-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        p {
            font-size: 18px;
            line-height: 25px;
            margin-top: 10px;
        }
    }

}